@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
}
#main-content-1,#main-content-2,#main-content-3{
    padding: 25px;
}
.flex{
    display: flex;
}
img{
    border-radius: 50%;
    margin: 0px 15px;
}
.line{
    background-color: blue;
    height: 2px;
    width: 150px;
}
#main-content-1{
    width: 25%;
    background-color: rgb(237, 231, 231);
}
#main-content-2{
width:45%;
}
#main-content-3{
    width: 30%;
}
.down{
    margin-top: 30px;
}
.down >*{
    margin: 10px;
}
.tr{
    margin: 15px 0px;
}
.tr>*{
    margin: 5px;
}
.section{
    padding: 25px;
}
.larger{
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
.grey{
    color: grey;
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
